@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Color variables */
  --primary-color: hsl(244, 28%, 23%);
  --secondary-color: #e5d352;
  --accent-color: #4f7cac;
  --background-color: #fcf7f8;
  --text-color-light: #fcf7f8;
  --text-color-dark: #1e1e24;

  /* Font family variables */
  --font-family-poppins: "Poppins", sans-serif;

  /* Font size variables */
  --font-size-base: 16px;
  --font-size-small: 0.875rem; /* 14px if base is 16px */
  --font-size-medium: 1rem; /* 16px if base is 16px */
  --font-size-large: 1.25rem; /* 20px if base is 16px */
  --font-size-extra-large: 1.5rem; /* 24px if base is 16px */
  --font-size-2x-large: 2rem; /* 32px if base is 16px */
  --font-size-3x-large: 3rem; /* 48px if base is 16px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size-base);
  font-family: var(--font-family-poppins);
}

.container {
  padding: 0 5%;
}

.section {
  padding: 5% 0;
}

#home {
  height: calc(100svh - 60px);
}

.showOnMobile {
  display: none;
}

.logoText {
  font-size: var(--font-size-large);
  font-weight: 900;
}

.headingText {
  font-size: var(--font-size-3x-large);
  font-weight: 700;
}

.subheadingText {
  font-size: var(--font-size-2x-large);
  font-weight: 500;
}

.titleText {
  font-size: var(--font-size-large);
  font-weight: 400;
}

.normalText {
  font-size: var(--font-size-medium);
  font-weight: 400;
}

.smallText {
  font-size: var(--font-size-small);
  font-weight: 300;
}

.darkText {
  color: var(--text-color-dark);
}

.lightText {
  color: var(--text-color-light);
}

.primaryColorText {
  color: var(--primary-color);
}

.navbar {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;

  height: 60px;

  overflow: hidden;
  border-bottom: 2px solid hsl(244, 28%, 93%);
}

.navbar ul {
  list-style-type: none;

  display: flex;
  flex-direction: row;

  padding: 1% 5%;
  width: 100%;

  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.navbar li:first-child {
  margin-right: auto;
}

.navbar a {
  text-decoration: none;
  transition: all 0.1s ease;
  position: relative;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);

  transition: 0.2s;
}

.navbar li:not(:first-child) a:hover::before {
  width: 100%;
}

.navbar a:hover {
  color: var(--accent-color);
}

.navbar li:not(:first-child) a:hover {
  color: var(--accent-color);
  font-size: var(--font-size-large);
}

.menu-icon {
  fill: var(--primary-color);
}

.fill-light {
  fill: var(--text-color-light);
}

.sidebar {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100vh;
  width: 100svw;
  position: fixed;
  top: 0;
  right: 0;

  list-style: none;
  background-color: var(--primary-color);
}

.sidebar ul {
  list-style-type: none;
}

.sidebar li {
  padding: 10px;
  width: 100%;

  display: flex;
  justify-content: center;
}

.sidebar a {
  text-decoration: none;

  transition: all 0.1s ease;
}

.sidebar a:hover {
  color: var(--accent-color);
}

.sidebar li a:hover {
  color: var(--accent-color);
  font-size: var(--font-size-large);
}

.two-column-paragraph {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: flex-start;
}

.titled-paragraph {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  flex-basis: 47.5%;
  min-width: 300px;

  justify-content: flex-start;
  align-items: flex-start;
}

/* Media query for small screens */
@media (max-width: 700px) {
  #home {
    overflow: hidden;
  }
  
  .hideOnMobile {
    display: none;
  }

  .showOnMobile {
    display: inline-block;
  }

  .normalText {
    font-size: var(--font-size-small);
  }

  .navbar {
    border-bottom: none;
  }

  .titled-paragraph {
    flex-basis: 100%;
    min-width: 100%;
    padding: 5% 0;
  }
}
